// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// SweetAlert2 styles
@import '~sweetalert2/dist/sweetalert2.min.css';

.admin-table-hover tbody tr:hover {
    background-color: rgba(216, 186, 3, .2);
}
.form-group.required .admin-control-label::after {
    content: "*";
    margin-left: 2px;
    color: #f00;
}
